html,
body {
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    word-wrap: break-word;
    font-kerning: normal;
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

a {
    transition: $transition-base;
}

table td:last-child {
    text-align: right;
}
