<template>
    <ThePage title="Email Listing">
        <div class="container">
            <EmailListTable v-bind:email-list="emailList.data" v-bind:pagination="emailList.meta" @onPage="fetchEmailList"></EmailListTable>
        </div>
    </ThePage>
</template>

<script>
import ThePage from "../components/ThePage";
import EmailListTable from "../components/EmailListTable";
import {Action} from "../store/types";
import {mapActions, mapState} from "vuex";

export default {
    name: "EmailListing",
    components: {EmailListTable, ThePage},
    beforeMount() {
        this.fetchEmailList();
    },
    computed: {
        ...mapState(['emailList'])
    },
    methods: {
        ...mapActions([Action.FetchEmailList])
    }
}
</script>
