<template>
    <ThePage title="Send an email">
        <div class="container">
            <EmailForm @submit="postForm"/>
        </div>
    </ThePage>
</template>

<script>
import ThePage from "../components/ThePage";
import EmailForm from "../components/EmailForm";
import {ApiEnums} from "../enums/api";

export default {
    name: "EmailSend",
    components: {EmailForm, ThePage},
    methods: {
        async postForm(payload) {
            try {
                await window.axios.post(ApiEnums.SendEmail, payload)
                this.$toasted.success('Your mail successfully sent it to the provider')
            } catch (error) {
                this.$toasted.error('Oops, something went wrong, please try again.')
            }
        },
    }
}
</script>
