<template>
    <div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Subject</th>
                <th scope="col">Content</th>
                <th scope="col">Content Type</th>
                <th scope="col">Provider</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="email in emailList" :key="email.id">
                <td>{{ email.id }}</td>
                <td>{{ email.status }}</td>
                <td>{{ email.subject }}</td>
                <td>{{ email.content }}</td>
                <td>{{ email.type }}</td>
                <td>{{ email.mail_provider }}</td>
            </tr>
            </tbody>
            <tfoot v-if="pagination">
                <Pagination
                    :current-page="pagination.current_page"
                    :total-rows="pagination.total"
                    :per-page="pagination.per_page"
                    @onPage="page => $emit('onPage', page)"
                >
                </Pagination>
            </tfoot>
        </table>

    </div>
</template>

<script>
import Pagination from "./Pagination";

export default {
    name: "EmailListTable",
    components: {Pagination},
    props: {
        emailList: {
            type: Array,
            required: true,
        },
        pagination: {
            type: Object,
            default: null
        }
    },
    mounted() {
        console.log(this.pagination)
    }
}
</script>
