<template>
    <FormulateForm v-model="formValues" @submit="$emit('submit', computedFormValues)">
        <div class="row">
            <div class="col-12">
                <FormulateInput
                    name="subject"
                    label="Subject"
                    placeholder="Subject"
                    validation="required"
                    validation-name="Subject"
                />
            </div>
            <div class="col-6">
                <FormulateInput
                    name="recipientName"
                    label="Recipient Name"
                    placeholder="Recipient Name"
                    validation="required"
                    validation-name="Recipient Name"
                />
            </div>
            <div class="col-6">
                <FormulateInput
                    name="recipientEmail"
                    type="email"
                    label="Recipient Email"
                    placeholder="Recipient Email"
                    validation="required|email"
                    validation-name="Recipient Email"
                />
            </div>
            <div class="col-6">
                <FormulateInput
                    name="fromName"
                    label="From Name"
                    placeholder="From Name"
                    validation="required"
                    validation-name="From Name"
                />
            </div>
            <div class="col-6">
                <FormulateInput
                    name="fromEmail"
                    type="email"
                    label="From Email"
                    placeholder="From Email"
                    validation="required|email"
                    validation-name="From Email"
                />
            </div>
            <div class="col-6">
                <FormulateInput
                    name="replyToName"
                    label="Reply To Name"
                    placeholder="Reply To Name"
                    validation="required"
                    validation-name="Reply To Name"
                />
            </div>
            <div class="col-6">
                <FormulateInput
                    name="replyToEmail"
                    type="email"
                    label="Reply To Email"
                    placeholder="Reply To Email"
                    validation="required|email"
                    validation-name="Reply To Email"
                />
            </div>
            <div class="col-12">
                <FormulateInput
                    name="contentType"
                    type="select"
                    :options="[
                        { value: 'text', label: 'Text' },
                        { value: 'html', label: 'HTML' },
                        { value: 'markdown', label: 'Markdown' },
                     ]"
                    label="Select Content Type"
                />
            </div>
            <div class="col-12">
                <FormulateInput
                    name="contentValue"
                    type="textarea"
                    label="Mail Content"
                    validation="required|max:1000,length"
                    validation-name="Mail Content"
                />
            </div>

            <div class="col-3 ml-auto">
                <FormulateInput
                    type="submit"
                    name="Send an Email"
                />
            </div>
        </div>
    </FormulateForm>
</template>

<script>
export default {
    name: "EmailForm",
    data: () => ({formValues: {}}),
    computed:  {
        computedFormValues() {
            return {
                subject: this.formValues.subject,
                recipients: [
                    {
                        name: this.formValues.recipientName,
                        email: this.formValues.recipientEmail
                    },
                ],
                from: {
                    name: this.formValues.fromName,
                    email: this.formValues.fromEmail,
                },
                replyTo: {
                    name: this.formValues.replyToName,
                    email: this.formValues.replyToEmail,
                },
                content: {
                    type: this.formValues.contentType,
                    value: this.formValues.contentValue,
                }
            }
        }
    }
}
</script>
