<template>
    <nav>
        <ul class="pagination">
            <li class="page-item" :class="{disabled: currentPage === 1}">
                <a class="page-link" href="#" v-on:click="$emit('onPage', --currentPage)">Previous</a>
            </li>
            <li class="page-item" v-for="page in pageCount" :key="page" :class="{active:currentPage === page}">
                <a class="page-link"
                   href="#"
                   v-on:click="$emit('onPage', page)">{{ page }}</a>
            </li>
            <li class="page-item" :class="{disabled:currentPage === pageCount}">
                <a class="page-link"
                   href="#"
                   v-on:click="$emit('onPage', ++currentPage)">Next</a>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    name: "Pagination",
    props: {
        currentPage: {
            type: Number,
            default: 1,
            required: true,
        },
        totalRows: {
            type: Number,
            default: 1,
            required: true,
        },
        perPage: {
            type: Number,
            default: 1,
            required: true,
        }
    },
    computed: {
        pageCount() {
            return this.totalRows / this.perPage
        },
    },
}
</script>

<style scoped>

</style>
