<template>
    <div class="container pt-4">
        <div class="d-flex mb-4">
            <div>
                <h3 class="text-secondary">
                    Postman
                </h3>
            </div>
            <ul class="list-unstyled ml-auto d-flex">
                <li class="mr-3">
                    <router-link to="/">Email Listing</router-link>
                </li>
                <li>
                    <router-link to="/email-send">Email Send</router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TheNavigation',
}
</script>
