<template>
    <div>
        <TheNavigation></TheNavigation>
        <div class="container mb-4">
            <h1 v-text="title"></h1>
        </div>
        <slot></slot>
    </div>
</template>

<script>
import TheNavigation from "./TheNavigation";

export default {
    name: "ThePage",
    components: {TheNavigation},
    props: {
        title: {
            type: String,
            required: true
        }
    }
}
</script>
